@font-face{
  font-family: 'BigNoodleTooOblique';
  src: url('./assets/BIGNOODLETOOOBLIQUE.TTF')
}
 @font-face{ 
    font-family: 'Config';
    src: url('./assets/CONFIGALT-SEMIBOLD.OTF')
}

html {
    overflow: hidden;
    height: 100%;
}

body
{
    background-image: url(./assets/owbg.png);
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
}

#roleModeButtonStyle
{
    font-family:'BigNoodleTooOblique';
    font-size:50px;
    width:300px;
    border:0px;
    background-color: #ff000000;
    color:#FC9D1F;
    cursor: pointer;
}

#roleModeButton
{
    visibility: visible;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px; 
}

#roleModeDiv
{
    display: flex;
}

#roleModeButtonDiv
{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90vh;
}

#allModeButtonStyle
{
    font-family:'BigNoodleTooOblique';
    font-size:50px;
    width:270px;
    border:0px;
    background-color: #ff000000;
    color:#FC9D1F;
    cursor: pointer;
}

#randomTankButtonStyle
{
    font-family:'Config';
    font-size:30px;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    background-color: #FC9D1F; 
    color:white;
    cursor: pointer;
}

#randomDamageButtonStyle
{
    font-family:'Config';
    font-size:30px;
    background-color: #FC9D1F; 
    border-style: solid;
    border-width: 2px;
    border-color:black;
    color:white;
    cursor: pointer;
}

#randomSupportButtonStyle
{
    font-family:'Config';
    font-size:30px;
    border-style: solid;
    border-width: 2px;
    background-color: #FC9D1F; 
    border-color:black;
    color:white;
    cursor: pointer;
}

#roleModeDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
