@font-face{
  font-family: 'BigNoodleTooOblique';
  src: url('./assets/BIGNOODLETOOOBLIQUE.TTF');
}

html {
    height: 100%;
}

.content{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundVideo{
position:absolute;
right: 0;
bottom: 0;
z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .backgroundVideo{
        width: 100%;
        height: auto;
    }
}
@media (min-aspect-ratio: 16/9)
{
    .backgroundVideo{
        width: 100%;
        height: auto;
    }
}


#roleModeButtonStyle
{
    font-family:'BigNoodleTooOblique';
    font-size:50px;
    width:300px;
    border:0px;
    background-color: #ff000000;
    color:orange;
    cursor: pointer;
}

#roleModeButton
{
    visibility: visible;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 50;
  
}

#roleModeDiv
{
    display: flex;
    
}

#roleModeImageDiv
{
    justify-content: center;
    align-items: center;
    width: 100;
    height: 50;
    margin: 10px;
    flex-wrap: wrap;
}

#roleModeButtonDiv
{
position:absolute;
left: 0;
}

#homeButton
{
    position:absolute;
    bottom: 0;
    left: 0;
}
