@font-face{
  font-family: 'BigNoodleTooOblique';
  src: url('./assets/BIGNOODLETOOOBLIQUE.TTF');
}

#roleModeButtonStyle
{
    font-family:'BigNoodleTooOblique';
    font-size:50px;
    width:300px;
}

#roleModeButton
{
    visibility: visible;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 50;
  
}

#roleModeDiv
{
    display: flex;
    
}

#roleModeImageDiv
{
    justify-content: center;
    align-items: center;
    width: 100;
    height: 50;
    margin: 10px;
    flex-wrap: wrap;
}

#roleModeButtonDiv
{
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    
}
    
